<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Portfolio | Website | Template</title>
  </head>
  <body>
    <div class="toggle" onclick="toggleMenu()"></div>
    <section class="banner" id="home">
      <div class="imgSidebar">
        <svg>
          <filter id="dark-blue-sepia" x="-10%" y="-10%" width="120%" height="120%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feColorMatrix type="matrix" values="1 0 0 0 0
                      1 0 0 0 0
                      1 0 0 0 0
                      0 0 0 1 0" in="SourceGraphic" result="colormatrix"/>
            <feComponentTransfer in="colormatrix" result="componentTransfer">
                  <feFuncR type="table" tableValues="0.29 0.15 0.97"/>
              <feFuncG type="table" tableValues="0.04 0.39 0.93"/>
              <feFuncB type="table" tableValues="0.32 0.52 0.73"/>
              <feFuncA type="table" tableValues="0 1"/>
        </svg>
        <img src="./img/bg.jpg" alt="" />
      </div>
      <div class="contentBx">
        <h5 class="logoText">My_Portfolio</h5>
        <div>
          <h4><span>Hello</span> I'm</h4>
          <h2>Felipe Escobedo</h2>
          <h4>I'm a Front End Web Developer</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
            doloremque quae hic, quas assumenda dicta odio alias vero velit?
            Aliquam aut corporis ipsa laudantium nisi perferendis laboriosam
            molestiae? Error, culpa!
          </p>
          <a href="#" class="btn">About Me</a>
        </div>
        <ul class="sci">
          <li>
            <a href="#"><img src="./img/facebook.svg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="./img/twitter.svg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="./img/instagram.svg" alt="" /></a>
          </li>
        </ul>
      </div>
    </section>
    <section class="about" id="about">
      <div class="title white">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
          animi odio. Rerum molestias, unde cumque, atque iste officiis quae,
          nisi veritatis quo sit assumenda! Corporis quae et ullam debitis
          repellat!
        </p>
      </div>
      <div class="content">
        <div class="textBx">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            sapiente unde harum magnam dolore quae reiciendis, odit veniam error
            iusto libero minus nostrum tempora excepturi suscipit fugiat
            perspiciatis quas ex. <br />
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            saepe alias fuga molestias? Numquam blanditiis repellat tempore
            deserunt natus fugit harum sed quaerat ea accusantium eaque esse,
            voluptatum officiis atque.
          </p>
        </div>
        <div class="imgBx">
          <img src="./img/about.jpg" alt="" />
        </div>
      </div>
    </section>
    <section class="services" id="services">
      <div class="title">
        <h2>Our Services</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
          animi odio. Rerum molestias, unde cumque, atque iste officiis quae,
          nisi veritatis quo sit assumenda! Corporis quae et ullam debitis
          repellat!
        </p>
      </div>
      <div class="content">
        <div class="servicesBx">
          <img src="./img/webpack.svg" alt="" />
          <h2>Web Design</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
            itaque vitae impedit nisi ipsam perspiciatis similique pariatur
            consectetur rem dolores quidem possimus magnam excepturi aspernatur,
            debitis illum vero recusandae maiores?
          </p>
        </div>
        <div class="servicesBx">
          <img src="./img/dev.svg" alt="" />
          <h2>Web Developer</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
            itaque vitae impedit nisi ipsam perspiciatis similique pariatur
            consectetur rem dolores quidem possimus magnam excepturi aspernatur,
            debitis illum vero recusandae maiores?
          </p>
        </div>
        <div class="servicesBx">
          <img src="./img/webpack.svg" alt="" />
          <h2>Android Apps</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
            itaque vitae impedit nisi ipsam perspiciatis similique pariatur
            consectetur rem dolores quidem possimus magnam excepturi aspernatur,
            debitis illum vero recusandae maiores?
          </p>
        </div>
        <div class="servicesBx">
          <img src="./img/webpack.svg" alt="" />
          <h2>CI/CD</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
            itaque vitae impedit nisi ipsam perspiciatis similique pariatur
            consectetur rem dolores quidem possimus magnam excepturi aspernatur,
            debitis illum vero recusandae maiores?
          </p>
        </div>
        <div class="servicesBx">
          <img src="./img/webpack.svg" alt="" />
          <h2>Content Writing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
            itaque vitae impedit nisi ipsam perspiciatis similique pariatur
            consectetur rem dolores quidem possimus magnam excepturi aspernatur,
            debitis illum vero recusandae maiores?
          </p>
        </div>
        <div class="servicesBx">
          <img src="./img/webpack.svg" alt="" />
          <h2>Video Editing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
            itaque vitae impedit nisi ipsam perspiciatis similique pariatur
            consectetur rem dolores quidem possimus magnam excepturi aspernatur,
            debitis illum vero recusandae maiores?
          </p>
        </div>
      </div>
    </section>
    <section class="work" id="work">
      <div class="title">
        <h2>Recent Work</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima
          rerum laborum aliquid, eius voluptatem harum delectus facere. Sunt
          perferendis amet at odio blanditiis et distinctio quae sed laborum
          architecto.
        </p>
      </div>
      <div class="content">
        <div class="workBx">
          <div class="imgBx">
            <img src="./img/project01.jpg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 01</h3>
          </div>
        </div>
        <div class="workBx">
          <div class="imgBx">
            <img src="./img/project02.jpg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 02</h3>
          </div>
        </div>
        <div class="workBx">
          <div class="imgBx">
            <img src="./img/project03.jpg" alt="" />
          </div>
          <div class="textBx">
            <h3>Project 03</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="contact" id="contact">
      <div class="title white">
        <h2>Contact Us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima
          rerum laborum aliquid, eius voluptatem harum delectus facere. Sunt
          perferendis amet at odio blanditiis et distinctio quae sed laborum
          architecto.
        </p>
      </div>
      <div class="contactForm">
        <div class="row">
          <div class="col50">
            <input type="text" name="" placeholder="First name" />
          </div>
          <div class="col50">
            <input type="text" name="" placeholder="Last name" />
          </div>
        </div>
        <div class="row">
          <div class="col50">
            <input type="email" name="" placeholder="Email" />
          </div>
          <div class="col50">
            <input type="text" name="" placeholder="Mobile No." />
          </div>
        </div>
        <div class="row">
          <div class="col100">
            <textarea name="" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col100">
            <button type="submit">Send</button>
          </div>
        </div>
      </div>
    </section>
    <div class="copyright">
      <p>Copyright &copy; 2021 @eosfelipe. All Right Reserved.</p>
    </div>
    <div class="sidebar">
      <ul class="menu">
        <li><a href="#home" onclick="toggleMenu()">Home</a></li>
        <li><a href="#about" onclick="toggleMenu()">About</a></li>
        <li><a href="#services" onclick="toggleMenu()">Services</a></li>
        <li><a href="#work" onclick="toggleMenu()">Work</a></li>
        <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
      </ul>
    </div>
    <script>
      function toggleMenu() {
        const menuToggle = document.querySelector(".toggle");
        const sidebar = document.querySelector(".sidebar");
        const imgSidebar = document.querySelector(".imgSidebar");
        menuToggle.classList.toggle("active");
        sidebar.classList.toggle("active");
        imgSidebar.classList.toggle("active");
      }
    </script>
  </body>
</html>
