@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 100px;
  min-height: 100vh;
}
p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}
.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: url("./assets/menu-alt-3.svg");
  background-color: #fff;
  cursor: pointer;
  z-index: 10000;
}
.active {
  background: url("./assets/x.svg");
  background-color: #fff;
}
.copyright {
  color: #fff;
  background: #111;
  text-align: center;
  padding: 10px;
}
.copyright p {
  margin: 0;
  font-size: 14px;
}
.copyright p a {
  color: #00bcd4;
}
@media screen and (max-width: 991px) {
  .banner .imgSidebar {
    display: none;
  }
  .banner .contentBx,
  .sidebar {
    width: 100%;
    padding: 40px;
  }
  .toggle {
    right: 40px;
    width: 30px;
    height: 30px;
  }
  section {
    padding: 40px;
  }
  .sidebar.active {
    width: 100%;
  }
}