.services .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.services .title {
  width: 100%;
  text-align: center;
}
.services .title h2 {
  position: relative;
  color: var(--primary-color);
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}
.services .title p {
  max-width: 700px;
  display: inline-block;
}
.services .title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: var(--primary-dark);
}
.services .title.white h2,
.services .title.white p {
  color: var(--primary-light);
}
.services .title.white h2::before {
  background: var(--primary-light);
}
.content .servicesBx {
  padding: 40px 20px;
  max-width: 340px;
  margin: 20px;
  transition: 0.5s;
  text-align: center;
  background: var(--primary-light);
}
.content .servicesBx:hover {
  background: var(--primary-dark);
}
.content .servicesBx img {
  max-width: 80px;
  transition: 0.5s;
}
.content .servicesBx:hover img {
  filter: invert(1);
}
.content .servicesBx h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  transition: 0.5s;
}
.content .servicesBx:hover h2 {
  color: var(--primary-light);
}
.content .servicesBx p {
  margin: 0;
  transition: 0.5s;
}
.content .servicesBx:hover p {
  color: var(--primary-light);
}
@media screen and (max-width: 991px) {
  .services .content .servicesBx {
    padding: 30px 20px;
    max-width: 340px;
    margin: 10px;
  }
}
@media screen and (max-width: 448px) {
  .services .content .servicesBx {
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
  }
}
